{
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": [
    "jest"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended",
    "airbnb-base"
  ],
  "rules": {
    "max-len": "warn",
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "comma-dangle": ["error", "never"],
    "no-use-before-define": ["error", { "functions": false }],
    "space-before-function-paren": ["error", { "anonymous": "always", "named": "never", "asyncArrow": "always" }],
    "no-param-reassign": ["error", { "props": false }]
  }
}
